/* css */

/* main page */

/* login page */

.login-container {
  width: 300px;
  max-width: 100%;
  margin: 50px auto;
}
.login-container h2 {
  text-align: center;
  font-size: 20px;
}

.login-container .btn-login {
  background-color: #ff5964;
  color: #fff;
}
a {
  color: #fff;
}

/* entry page  */

/* reader page */
