{{!-- banner info on main.handlebars --}}

{{!-- navigation side bar --}}

<div class="container">
  <div class="row py-3">
    <div class="col-3 order-1" id="sticky-sidebar">
      <div class="sticky-top">
        <a href="/entry-form" id="entry">
          <button type="button" class="btn btn-block btn-outline-dark">
            New Entry
          </button>
        </a>
        <a href="/reader" id="reader">
          <button type="button" class="btn btn-block btn-outline-dark">
            Reader
          </button>
        </a>
        <button type="button" class="btn btn-block btn-outline-dark">
          Timeline
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Journal
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Family
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Personal
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Career
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Photos
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Biography
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Emergency Contacts
        </button>
      </div>
    </div>



    {{!-- journal entry area --}}

    <div class="col-9 order-2" id="form-entry">
      <form>
        <h3 class="text-center">Create Today's Journal Memory</h3>
        <h5 class="text-center" id="clock"></h5>
        <div class="container">
          <div class="row py-3">
            <div class="col" id="main">
              <div class="form-group">
                <textarea type="text" class="form-control" id="journalEntryTitle" rows="1"
                  placeholder="Journal Entry Title"></textarea>
              </div>
              <div class="form-group">
                <textarea type="text" class="form-control" id="journalEntryBody" rows="10"
                  placeholder="What is on your mind today?"></textarea>
              </div>
              <button type="button" class="btn btn-block btn-outline-dark">
                Submit Journal Entry
              </button>
            </div>
            <div class="col-3 order-2" id="sticky-sidebar">
              <div class="sticky-top">
                <p>Memory Tags</p>
              </div>
              <div class="radio disabled">
                <label><input type="radio" name="optradio" />Personal</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" checked />Family</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" />Professional</label>
              </div>
              <div class="radio disabled">
                <label><input type="radio" name="optradio" />Aspirations</label>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="New Label" aria-label="New Label"
                  aria-describedby="basic-addon2" />
                <div class="input-group-append">
                  <button class="btn btn-sm btn-outline-secondary" type="button">
                    Button
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>