<div class="col-9 order-2" id="main">
          <h2 class="text-center">Create Today's Journal Memory</h2>
          <div class="container">
            <div class="row py-3">
              <div class="col" id="main">
                <form>
                  <div class="form-group">
                    <textarea
                      type="text"
                      class="form-control"
                      id="journalEntryTitle"
                      rows="1"
                      placeholder="Journal Entry Title"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <textarea
                      type="text"
                      class="form-control"
                      id="journalEntryBody"
                      rows="11"
                      placeholder="What is on your mind today?"
                    ></textarea>
                  </div>
                </form>
                <button type="button" class="btn btn-block btn-outline-dark">
                  Submit Journal Entry
                </button>
              </div>
              <div class="col-3 order-2" id="sticky-sidebar">
                <div class="sticky-top">
                  <h5>Category Options</h5>
                  <p>Date/Time w/moment</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>