{{!-- banner info on main.handlebars --}}

{{!-- no navbar on this page --}}

{{!-- login form area --}}

<div class="login-container" style="width: 300px; max-width: 100%; margin: 50px auto;">
    <h2 style="text-align: center; font-size: 20px;">Login</h2>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Username" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="password" placeholder="Enter your Password" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="submit" class="btn btn-block btn-login btn-dark" placeholder="Enter your Password" />
        </div>
    </div>
</div>