
     {{!-- Search bar --}}
     <nav class="navbar navbar-light bg-light float-right">
      <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </nav>

    {{!--  main body --}}

{{!-- banner info on main.handlebars --}}

{{!-- side bar nav area --}}

<div class="container">
  <div class="row py-3">
    <div class="col-3 order-1" id="sticky-sidebar">
      <div class="sticky-top">
        <a href="/entry-form" id="entry">
          <button type="button" class="btn btn-block btn-outline-dark">
            New Entry
          </button>
        </a>
        <a href="/reader" id="reader">
          <button type="button" class="btn btn-block btn-outline-dark">
            Reader
          </button>
        </a>
        <button type="button" class="btn btn-block btn-outline-dark">
          Timeline
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Journal
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Family
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Personal
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Career
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Photos
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Biography
        </button>
        <button type="button" class="btn btn-block btn-outline-dark">
          Emergency Contacts
        </button>
      </div>
    </div>

    {{!-- journal reader area --}}



    <main>
      <div class="container mt-5 pb-5">
        <div class="row justify-content-start">
          <div class="col-md-8 bg-light border p-lg-3">
            <div class="row">
              <div class="col-md-12">
                <h3 class="border-bottom pb-3">Memory</h3>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="media mt-3">
                    <div class="media-body p-2">
                      <p>
                     {{#each posts}}
                        <h2> <a href="/blog/{{id}}">{{title}}</a> </h2>
                        <p>
                          {{body}}
                        </p>
                        {{/each}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

