<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS Bootstrap CDN -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- google font styles for Roboto -->
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Memories</title>
  </head>

  <body>
    <main>
      <div class="container mt-5 pb-5">
        <div class="row justify-content-start">
          <div class="col-md-8 bg-light border p-lg-3">
            <div class="row">
              <div class="col-md-12">
                <h3 class="border-bottom pb-3">Journal Entry Title</h3>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="media mt-3">
                    <div class="media-body p-2">
                      <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Enim, amet dolorum quia perspiciatis aliquam omnis
                        esse quo aperiam maiores quaerat, doloribus laborum
                        rerum iure ut vel eveniet dolore deserunt. Nam? Lorem
                        ipsum dolor, sit amet consectetur adipisicing elit.
                        Enim, amet dolorum quia perspiciatis aliquam omnis esse
                        quo aperiam maiores quaerat, doloribus laborum rerum
                        iure ut vel eveniet dolore deserunt. Nam? Lorem ipsum
                        dolor, sit amet consectetur adipisicing elit. Enim, amet
                        dolorum quia perspiciatis aliquam omnis esse quo aperiam
                        maiores quaerat, doloribus laborum rerum iure ut vel
                        eveniet dolore deserunt. Nam? Lorem ipsum dolor, sit
                        amet consectetur adipisicing elit. Enim, amet dolorum
                        quia perspiciatis aliquam omnis esse quo aperiam maiores
                        quaerat, doloribus laborum rerum iure ut vel eveniet
                        dolore deserunt. Nam? Lorem ipsum dolor, sit amet
                        consectetur adipisicing elit. Enim, amet dolorum quia
                        perspiciatis aliquam omnis esse quo aperiam maiores
                        quaerat, doloribus laborum rerum iure ut vel eveniet
                        dolore deserunt. Nam?
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
